/*----------------------------------------
				
Safari XBMC Remote : 
				
----------------------------------------*/
#menu_home {

width:78%;
list-style:none;
margin-top:180px;
font:Verdana, Arial, Helvetica, sans-serif;

}


#menu_home a{
list-style:none;
display:block;
line-height:90px;
text-decoration:none;
text-align:right;
color:#333;


font-size:26px;
vertical-align: text-bottom;
font-weight: bold;
		
		
}		

#menu_home a:hover{


text-align:right;
color:#FFFFFF;

font-size:58px;
vertical-align: text-bottom;
font-weight: bold;


}

#menu_home .select{


text-align:right;
table-layout:auto;
color:#FFFFFF;

font-size:58px;
vertical-align: text-bottom;
font-weight: bold;


}
